<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>

  <!-- ======= Header ======= -->
  <header th:replace="~{layout :: page_header}"></header>
  <!-- ======= Sidebar ======= -->
  <aside th:replace="~{layout :: page_sidebar}"></aside>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Geografi - Standart</h1>
    </div>
    <div id="mapid"></div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Tambahkan JavaScript Leaflet -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdn.osmbuildings.org/classic/0.2.2b/OSMBuildings-Leaflet.js"></script>
  <script th:inline="javascript">
    var markers= [[${markers}]];
  </script>

  <script>

    // Inisialisasi peta dan atur tampilan awal
    var map = L.map('mapid').setView([-8.199017544987898, 113.53653588521063], 10); // Koordinat dan zoom level

    // Tambahkan layer peta
    var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>'
    }).addTo(map);

    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });

    markers.forEach(function (marker) {
      L.marker([marker.latitude, marker.longitude]).addTo(map)
              .bindPopup("<b>"+marker.name+"</b><br><img src='/upload/"+marker.image+"' alt='Image' width='auto' height='150'><br>"+marker.description+"");
    });

  </script>

  <!-- Vendor JS Files -->
  <script th:src="@{assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{assets/vendor/quill/quill.js}"></script>
  <script th:src="@{assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{assets/js/main.js}"></script>

</body>

</html>